<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Controle de Contas</title>
  </head>
  <body>
    <div class="text-center">
      <h1>Controle de Contas</h1>
      <a href="/">Home</a> | <a href="javascript:history.back();">Voltar</a>
    </div>
     <main>
       <div class="container">
        <%- body %>
       </div>
     </main>

    <footer class="text-center">
      Desenvolvido por Univas
    </footer>
  </body>
</html>
