<%- contentFor('body') %>

  <h2>Incluir Conta</h2>
  <div class="form-group">
    <label>Nome:</label>
    <input type="text" name="name" class="form-control" value="">
  </div>
  <div class="form-group">
    <label>Saldo Inicial da Conta:</label>
    <input type="number" name="balance" class="form-control" value="">
  </div>
  <button class="btn btn-success" type="submit">Salvar</button>
  </form>
