<h2>Incluir Conta</h2>
<p> Com as contas separadas por categoria, é possível organizar seus gastos</p>
<div class="form-group">
  <label>Nome:</label>
  <input type="text" name="name" class="form-control" value="">
</div>
<div class="form-group">
  <label>Saldo Inicial da Conta:</label>
  <input type="number" name="balance" class="form-control" value="">
</div>
<button class="btn btn-success" type="submit">Salvar</button>
</form>