<%- contentFor('body') %>

<h2>Incluir Categoria</h2>
<div class="form-group">
  <label>Nome:</label>
  <input type="text" name="name" class="form-control" value="">
</div>
<div class="form-group">
  <label>Tipo:</label>
    <select name="type" id="type" class="form-control">
       <option value="revenue">Receita</option>
       <option value="expense">Despesa</option>
    </select>
</div>
<button class="btn btn-success" type="submit">Salvar</button>
</form>