<div class="form-group">
  <label>Descrição:</label>
  <input type="text" name="description" class="form-control" value="">
</div>
<div class="form-group">
  <label>Data Documento:</label>
  <input type="date" name="date" class="form-control" value="">
</div>
<div class="form-group">
      <label>Tipo:</label>
      <select name="type" id="type" class="form-control">
            <option value="Credito">Credito</option>
            <option value="Debito">Debito</option>
      </select>
</div>
<div class="form-group">
  <label>Valor:</label>
  <input type="number" name="value" class="form-control" value="">
</div>
<button class="btn btn-success" type="submit">Salvar</button>
</form>
